:root {
  --primary-text-color: #757575;
  --second-text-color: #ffffff;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --fourth-text-color: #f5f4fa;
  --background-color-footer: #2f303a;
  --border-color: #ececec;
  --icons-fill: #afb1b8;
  --footer-background-color-icons: rgba(255, 255, 255, 0.1);
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-title-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 500ms var(--transition-timing), opacity 1000ms var(--transition-timing);
  z-index: 5;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1) rotate(180deg);
  transition: transform 500ms var(--transition-timing);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    outline: 1px solid red;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    outline: 1px solid red;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    outline: 1px solid red;
  }
}

.main-nav_link.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.filters {
  flex-wrap: wrap;
  padding: 0;
  border: none;
  display: flex;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .filters {
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .filters-button-item:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .filters-button-item:not(:last-child) {
    margin-right: 8px;
  }
}

.filters-button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background-color: var(--fourth-text-color);
  padding: 6px 22px;
  border-radius: 4px;
}

.filters-button:hover,
.filters-button:focus {
  color: var(--fourth-text-color);
  background-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: color 250ms var(--transition-timing), background-color 250ms var(--transition-timing), box-shadow 250ms var(--transition-timing);
}

.heading-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--primary-title-color);
}

@media screen and (min-width: 1200px) {
  .heading-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    text-align: center;
    margin-bottom: 50px;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo-link,
.logo-header-light-wrap,
.logo-header-dark-wrap {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo-link,
  .logo-header-light-wrap,
  .logo-header-dark-wrap {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
}

.logo-header-dark-wrap {
  color: var(--primary-title-color);
}

.logo-header-light-wrap {
  color: var(--second-text-color);
}

.logo-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo-header {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-header {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.modal-button {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 40px;
}

.modal-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.modal-form-button {
  align-self: center;
  min-width: 200px;
  min-height: 50px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--transition-timing), color 250ms var(--transition-timing);
}

.modal-form-button :focus {
  transition: background-color 250ms var(--transition-timing), color 250ms var(--transition-timing);
}

.modal-form-button:hover,
.modal-form-button :focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-input-wrap {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color 250ms var(--transition-timing);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color 250ms var(--transition-timing), fill var(--accent-color) 250ms var(--transition-timing);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
  transition: border-color 250ms var(--transition-timing);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary-title-color);
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.modal-form-field-comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms var(--transition-timing), outline 250ms var(--transition-timing);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color 250ms var(--transition-timing), outline 250ms var(--transition-timing);
}

.modal-form-label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

.modal-form-label-checkbox::before {
  display: flex;
  align-items: center;
  content: "";
  position: relative;
  width: 16px;
  height: 15px;
  cursor: pointer;
  margin-right: 7px;
  border: 2px solid #303030;
  border-radius: 3px;
}

.modal-form-checkbox:checked + .modal-form-label-checkbox::before {
  border: none;
  background-image: url(../image/icon-check-box.svg);
  background-size: 16px 15px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 250ms var(--transition-timing), border-color 250ms var(--transition-timing);
}

.modal-form-checkbox:focus + .modal-form-label-checkbox::before {
  outline: 2px solid var(--primary-title-color);
}

.checkbox-link {
  margin-left: 5px;
  color: var(--accent-color);
}

.modal-form-button-icon {
  margin-left: 10px;
}

.modal {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  background-color: var(--second-text-color);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: transform 500ms var(--transition-timing);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    min-width: 450px;
  }
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-thumb-text {
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-thumb-text,
.project-link:focus .project-thumb-text {
  transform: translateY(-100%);
}

.project-link {
  display: block;
}

.project-wrap-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.project-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .project-item {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.project-item {
  background-color: var(--second-text-color);
  border-right: solid var(--border-color) 1px;
  border-bottom: solid var(--border-color) 1px;
  border-left: solid var(--border-color) 1px;
}

.project-link {
  text-decoration: none;
}

.project-link {
  display: block;
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: color 250ms var(--transition-timing);
}

.project-wrap {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-section {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-bottom: 94px;
  }
}

.team-section {
  background-color: var(--fourth-text-color);
}

.social-item {
  list-style: none;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0px;
}

.social-links {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--icons-fill);
  transition: color 250ms var(--transition-timing);
}

.social-links:focus,
.social-links:hover {
  background-color: var(--accent-color);
  color: var(--second-text-color);
  transition: 250ms var(--transition-timing);
}

.social-links-icon {
  color: var(--second-text-color);
  transition: color 250ms var(--transition-timing);
}

.social-icon {
  fill: currentColor;
  transition: fill 250ms var(--transition-timing);
}

.social-list {
  display: flex;
  justify-content: center;
}

.auxiliary-section {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .auxiliary-section {
    display: none;
  }
}

.auxiliary-item {
  position: relative;
}

.auxiliary-item:not(:last-child) {
  margin-right: 30px;
}

.auxiliary-wrap {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.auxiliary-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

@media screen and (min-width: 768px) {
  .benefits-section {
    display: flex;
  }
}

.benefits-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fourth-text-color);
  height: 120px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .benefits-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .benefits-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-title .benefits-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: var(--primary-title-color);
  }
}

.benefits-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-item {
    width: 270px;
  }
  .benefits-item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-section {
  padding-bottom: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--primary-title-color);
}

@media screen and (min-width: 1200px) {
  .clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
  }
  .clients-list:last-child {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    margin: 0 0 0 -15px;
  }
}

@media screen and (min-width: 480px) {
  .clients-item {
    width: 210px;
    height: 92px;
    margin: 15px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-item {
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: 170px;
    height: 92px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .clients-item:last-child {
    margin-right: 0;
  }
}

.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icons-fill);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--icons-fill);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  transition: border-color 250ms var(--transition-timing);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
  transition: border-color 250ms var(--transition-timing);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  transition: fill 250ms var(--transition-timing);
}

.footer-container {
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    background-color: var(--background-color-footer);
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer-address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
  }
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-address-link,
.footer-address_footer-address_contact-link {
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  transition: color 250ms var(--transition-timing);
}

.footer-address-link {
  margin-bottom: 9px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address_footer-address_contact-link {
  color: var(--third-text-color);
}

.footer-address_footer-address_contact-link:hover,
.footer-address_footer-address_contact-link:focus {
  color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--second-text-color);
}

@media screen and (min-width: 1200px) {
  .footer-social-title {
    display: flex;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    color: var(--second-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .common-container {
    display: flex;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-container-wrapp {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container-wrapp {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container-wrapp {
    display: flex;
    margin-right: 93px;
  }
}

.footer-social-item {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-social-item {
  margin-right: 10px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-social-list {
    display: flex;
  }
}

.footer-social-links {
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--transition-timing);
}

@media screen and (min-width: 1200px) {
  .footer-form-container {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form {
    text-align: center;
  }
}

.footer-form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--second-text-color);
}

@media screen and (min-width: 480px) {
  .footer-form-input {
    min-width: 100%;
    min-height: 50px;
    margin: 0 auto 20px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    color: var(--second-text-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form-input {
    display: block;
    margin: 0 auto 20px;
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    min-width: 358px;
    min-height: 50px;
    padding: 15px 16px;
    margin: 0 12px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    color: var(--second-text-color);
  }
}

.footer-form-button {
  display: inline-flex;
  align-items: center;
  min-width: 200px;
  padding: 10px 28px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--transition-timing);
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--accent-color);
  transition: background-color 250ms var(--transition-timing);
}

.header {
  background-color: var(--second-text-color);
  min-height: 60px;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .header {
    min-height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    border-bottom: solid 1px var(--border-color);
    min-height: 80px;
    top: 0;
    left: 0;
    z-index: 3;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 769px) {
  .header-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
    margin-right: 84px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .header__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.item-connect {
  min-height: 80px;
}

@media screen and (min-width: 768px) {
  .item-connect:last-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .item-connect {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .main-nav_list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main-nav_list {
    display: flex;
    text-align: center;
  }
}

.main-nav_item {
  position: relative;
}

.main-nav_item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-nav_item-connect:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav_item-connect:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .main-nav_list-connect {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav_list-connect {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.main-nav_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  display: flex;
  align-items: center;
  transition: color 250ms var(--transition-timing);
}

.main-nav_link:hover, .main-nav_link:focus {
  color: var(--accent-color);
  transition: color 250ms var(--transition-timing);
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  display: flex;
  align-items: center;
  transition: color 250ms var(--transition-timing);
}

.header-contact:hover, .header-contact:focus {
  color: var(--accent-color);
  transition: color 250ms var(--transition-timing);
}

.header-contact {
  display: flex;
  color: var(--primary-text-color);
}

.header-contact:hover, .header-contact:focus {
  color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contact-link {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .contact-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms var(--transition-timing);
  }
  .contact-link:hover, .contact-link:focus {
    color: var(--accent-color);
    transition: color 250ms var(--transition-timing);
  }
}

.list-connect_contacts-icon {
  justify-content: center;
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .list-connect_contacts-icon {
    margin-right: 10px;
    justify-content: center;
    fill: currentColor;
  }
}

.burger-button {
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  line-height: 0;
}

.close-burger-button {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
}

.close-burger-button :hover,
.close-burger-button :focus {
  color: var(--accent-color);
}

.burger-icon-icon,
.close-burger-icon {
  width: 40px;
  height: 40px;
}

.mobilie-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  transition: opacity 250ms var(--transition-timing), visibility 250ms var(--transition-timing);
  background-color: var(--second-text-color);
}

.mobilie-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  .mobilie-menu,
  .burger-button {
    display: none;
  }
}

.mobilie-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobilie-menu__nav-item {
  margin-bottom: 32px;
}

.mobilie-menu__nav-item:hover, .mobilie-menu__nav-item:focus {
  color: var(--accent-color);
}

.mobilie-menu__nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-title-color);
}

.mobilie-menu__nav-link--current {
  color: var(--accent-color);
}

.mobilie-menu__contacts-list {
  margin-bottom: 64px;
}

.mobilie-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobilie-menu__contacts-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobilie-menu_contacts-link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.social-mobilie_list {
  display: flex;
}

.social-mobilie__item:not(:first-child) {
  padding-left: 10px;
}

.social-mobilie__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.social-mobilie__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 480px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--background-color-footer);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/image/mobilie/hero-mobilie-min.webp);
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/image/mobilie/hero-mobilie@2x-min.webp);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/image/tablet/hero-tablet-min.webp);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/image/tablet/hero-tablet@2x-min.webp);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    outline: 1px solid red;
    display: flex;
    justify-content: center;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-transform: uppercase;
    color: var(--second-text-color);
    margin: 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/image/desktop/hero-desktop-min.webp);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/image/desktop/hero-desktop@2x-min.webp);
  }
}

.hero-heading {
  justify-content: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 30px;
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .hero-heading {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-text-color);
  }
}

.hero-button {
  min-width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-radius: 4px;
}

.heading-button:hover,
.heading-button:focus {
  color: var(--fourth-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: color 250ms var(--transition-timing);
}

.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team_list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team_list {
    display: flex;
  }
}

.team-item {
  background-color: var(--second-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  flex-basis: calc(100% / 2 - 30px);
  margin: 15px;
}

.team-item-wrap {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--primary-title-color);
}
/*# sourceMappingURL=main.css.map */