.footer-container {
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address {
  margin-right: 70px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-address-link,
.footer-address_footer-address_contact-link {
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  transition: color 250ms var(--transition-timing);
}
.footer-address-link {
  margin-bottom: 9px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address_footer-address_contact-link {
  color: var(--third-text-color);
}
.footer-address_footer-address_contact-link:hover,
.footer-address_footer-address_contact-link:focus {
  color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-title {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 20px;
}
.common-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer-social-item {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer-social-item {
  margin-right: 10px;
}
.footer-social-list {
  display: flex;
}
.footer-social {
  margin-right: 93px;
}
.footer-social-links {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--transition-timing);
}
.footer-form-container {
  display: flex;
}
.footer-form-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}
.footer-form-input {
  min-width: 358px;
  min-height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: var(--second-text-color);
}
.footer-form-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  // box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  transition: background-color 250ms var(--transition-timing);
}
.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--accent-color);
  // box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  transition: background-color 250ms var(--transition-timing);
}
