.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  align-items: center;
  width: 270px;
  background-color: var(--second-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item-wrap {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--primary-title-color);
}
