.logo-link,
.logo-header-light-wrap,
.logo-header-dark-wrap {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-header-dark-wrap {
  color: var(--primary-title-color);
}
.logo-header-light-wrap {
  color: var(--second-text-color);
}
.logo-header {
  // display: flex;
  // align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  // margin-right: 93px;
  @media screen and(min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and(min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
