.modal-form {
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 40px;
}
.modal-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.modal-form-button {
  align-self: center;
  min-width: 200px;
  min-height: 50px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  transition: background-color 250ms var(--transition-timing),
    color 250ms var(--transition-timing);
  // box-shadow 250ms 0px 4px 4px rgb(0 0 0 /0.25);
  & :focus {
    transition: background-color 250ms var(--transition-timing),
      color 250ms var(--transition-timing);
    // box-shadow 250ms 0px 4px 4px rgb(0 0 0 /0.25)
  }
  &:hover,
  & :focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.form-input-wrap {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  &:focus {
    outline: none;
    border-color: var(--accent-color);
    transition: border-color 250ms var(--transition-timing);
  }
  &:focus {
    outline: none;
    border-color: var(--accent-color);
    transition: border-color 250ms var(--transition-timing),
      fill var(--accent-color) 250ms var(--transition-timing);
  }
  &:focus + .modal-form-input-icon {
    fill: var(--accent-color);
    transition: border-color 250ms var(--transition-timing);
  }
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary-title-color);
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.modal-form-field-comment {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}
.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms var(--transition-timing),
    outline 250ms var(--transition-timing);
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    outline: none;
    border-color: var(--accent-color);
    transition: border-color 250ms var(--transition-timing),
      outline 250ms var(--transition-timing);
  }
}

.modal-form-label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
  &::before {
    display: flex;
    align-items: center;
    content: "";
    position: relative;
    width: 16px;
    height: 15px;
    cursor: pointer;
    margin-right: 7px;
    border: 2px solid #303030;
    border-radius: 3px;
  }
}

.modal-form-checkbox:checked + .modal-form-label-checkbox::before {
  border: none;
  background-image: url(../image/icon-check-box.svg);
  background-size: 16px 15px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 250ms var(--transition-timing),
    border-color 250ms var(--transition-timing);
}
.modal-form-checkbox:focus + .modal-form-label-checkbox::before {
  outline: 2px solid var(--primary-title-color);
}
.checkbox-link {
  margin-left: 5px;
  color: var(--accent-color);
}
.modal-form-button-icon {
  margin-left: 10px;
}
